# Notebook Title

## Introduction

This notebook explores various aspects of data science and related tools.

## Data Science Languages

- Python
- R
- Julia
- SQL

## Data Science Libraries

- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- PyTorch

## Data Science Tools

| Tool         | Description                   |
|--------------|-------------------------------|
| Jupyter      | Interactive notebooks         |
| Tableau      | Data visualization            |
| Docker       | Containerization              |
| Spark        | Big data processing           |
| Hadoop       | Distributed storage and processing |

## Arithmetic Expression Examples

This section demonstrates basic arithmetic operations.

In [1]:
# Multiplication and addition
a = 5
b = 10
result_multiply = a * b
result_addition = a + b

print("Multiplication:", result_multiply)
print("Addition:", result_addition)

Multiplication: 50
Addition: 15

In [3]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60

print("Hours:", hours)

Hours: 2.0

## Objectives

- Explore data science languages and libraries.
- Demonstrate basic arithmetic operations.
- Convert time units.

## Author

Author: Saad Rasheed